*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

header{
    margin-top: 25px;
    height: 45px;
}

nav{
    display: inline-block;
}

ul{
    list-style-type:none;
}

li{
    display: inline;
}

li a{
    text-decoration: none;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.fl{
    float:left;
}

.fr{
    float: right;
}

.header-container{
    width: max-content;
}

.header-container:first-child{
    margin-left: 20px;
}

.header-container:last-child{
    margin-right: 20px;
}

li.nav-info{
    margin-left: 30px;
}

li.nav-extra{
    margin-right: 30px;
}

nav a{
    color: black;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    padding: 5px 10px 5px 10px;
}

.button{
    border: 1px solid;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    padding: 6px 12px 6px 12px ;
}

.blue-button{
    background-color: rgb(0, 126, 222);
    color: white;
    border-color: rgb(0, 126, 222) ;
}


.jumbothron{
    height: 700px;
    background-color: rgb(180, 208, 231);
}

.jumbothron .wrapper{
   padding: 70px 0px 0px 120px;
}

.jumbothron h1{
    font-size: 80px;
    text-align: left;
}


.jumbothron .wrapper-text-img{
    padding: 40px 0px 0px 0px;
 }

.jumbothron .text-box{
    width: 30%;
    padding: 0px 50px 0px 0px;
}

.jumbothron .img-box{   
    width: 55%;
    margin-left: 150px;

}

.jumbothron img{
    width: 100%;
}