*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

header{
    margin-top: 25px;
    height: 45px;
}

nav{
    display: inline-block;
}

nav ul{
    list-style-type:none;
}

nav li{
    display: inline;
}

li a{
    text-decoration: none;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.fl{
    float:left;
}

.fr{
    float: right;
}

.header-container{
    width: max-content;
}

.header-container:first-child{
    margin-left: 20px;
}

.header-container:last-child{
    margin-right: 20px;
}

li.nav-info{
    margin-left: 30px;
}

li.nav-extra{
    margin-right: 30px;
}

nav a{
    color: black;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    padding: 5px 10px 5px 10px;
}
/* button section */
.button{
    border: 1px solid;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    padding: 6px 12px 6px 12px ;
}

.blue-button{
    background-color: rgb(0, 126, 222);
    color: white;
    border-color: rgb(0, 126, 222) ;
}

.large-button{
    font-size: 1.1em;
    margin-bottom: 4%;
}

.free-trial-bt{
   width: 100%;
   margin-bottom: 25px;
}

/*  */


.jumbothron{
    height: 700px;
    background-color: rgb(180, 208, 231);
    margin-bottom: 5%;
}

.wrapper{
   padding: 70px 0px 0px 0px;
   width: 80%;
   margin: 0 auto;
}

.jumbothron h1{
    font-size: 80px;
    text-align: left;
    padding-right: 40px;
}

.jumbothron p{
    font-size: 1.3em;
    padding-bottom: 5%;
}

.jumbothron i{
    font-size: 2.7em;
    margin-top: 7%;
}

.jumbothron .wrapper-text-img{
    padding: 40px 0px 0px 0px;
 }

.jumbothron .text-box{
    width: 30%;
    padding: 0px 50px 0px 0px;
}

.jumbothron .img-box{   
    width: 830px;
    height: fit-content;
    margin-left: 150px;

}

.jumbothron img{
    width: 100%;
}

/* suggestion section */

.suggestion{
    width: 65%;
    margin: 0 auto;
    padding-top: 70px;
}

.suggestion h2{
    font-size: 2.5em;
    margin-bottom: 40px;
}

.option input{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  
    border-radius: 50%;
    width: 18px;
    height: 18px;
  
    border: 2px solid #999;
    transition: 0.2s all linear;
    margin-right: 5px;
  
    position: relative;
    top: 3px;  
}

input:checked {
    border: 5px solid rgb(0, 126, 222);
  }

.option label{
    margin-right: 20px;
}

/* offer block */
.offer{
    margin: 40px 0;
}

.offer-block-clm{
    width: 28%;
    border: 1px solid black;
    margin-right: 8%;   
}

.offer-block-clm:last-child{
    margin-right: 0;
}

.offer-block-clm .user{
    height: 6%;
    border-bottom: 1px solid black;
    text-align: center;
    line-height: 41.85px;
    font-weight: 600;
}

.offer-block-clm .user.singol::after{
    content:"Singolo";
}
.offer-block-clm .user.team::after{
    content:"Team";
}

.offer-wrapper {
    padding: 40px 30px 0 30px;
}

.offer-wrapper h3{
    font-size: 1.6em;
    padding-bottom: 20px;
}

.offer-wrapper .price{
    font-weight: 600;
    padding-bottom: 13px;
}

.offer-wrapper .for-month{
    color: gray;
    font-weight: 600;
}

.offer-description{
    margin: 40px 0 ;
}

.offer-description div{
    padding: 10px 0;
    font-weight: 500 ;
}

.offer-wrapper hr{
    width: 20%;
    height: 1px solid lightgray;
    margin: 30px 0 40px 0;
}

.offer-wrapper ul{
    list-style-type:none;
}

.offer-wrapper li::before {
    content: "";
}

